 body {
        padding-top: 60px; */
              }

      canvas {

        height: 500px;
        width: 100%;
        background-color: #F5F5F5;
        border: 1px #B9B9B9; 
      } 
      #canvas-mask button{
        
        color:#292929 ;
        border-radius: 20px;
     
        width: 40px;
        height: 40px;
        background-color: #EDEDED;
        font-weight: bold;
           text-shadow: 0px 1px 0px #999;
        letter-spacing: 1px;
        font:1.6em 'ChunkFiveRegular';



      }
      #canvas-mask {

      
        width: 100%;
        background-color: #F5F5F5;
        border: 1px #B9B9B9; 
      }        